# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.restore
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.metadata/
bin/
tmp/
.tmp/
*.tmp
*.bak
*.swp
*~
.loadpath
.project
.settings/
.classpath

# VS Code
.vscode/

# Environment Variables
.env
.env.local

# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
